*{
  box-sizing:border-box; 
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

body{
    display:grid;
    grid-template-columns:1fr 4fr;
    gap:20px;
}

#sidebar{
    grid-column: 1;
    grid-row:1/3;
}

#header{
    grid-column: 2;
    
    display:grid;
    grid-template: 1fr 1fr/ 2fr 1fr;

    border:1px solid black;
    padding:20px;
}
    .search-container{
        display:grid;
        grid-template-columns:30px auto;
        align-items:center;
        column-gap:15px;
    }


    .profile-container{
        grid-row:1;
        grid-column:2;
        
        padding-left:10px;
        
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        justify-items:center;
        align-items:center;
    }

    #bell-icon{
        height:30px;
        justify-self:end;
    }
    #mini-profile-pic{
        height:40px;
        justify-self:end;
    }

    #main-profile{
        grid-row:1;
        grid-column:3;
        justify-self:end;

    }



    #header input{

        height:25px;
        border:solid 1px black;
        border-radius:10px;
    }

#dashboard-container{
    grid-column:2;
    grid-row: 2;
    
    display:grid;
    grid-template-columns:3fr 1fr;
    background-color:gray;
}
    
    #projects{
        grid-column: 1;

        display:grid;
        grid-template-rows:auto 1fr;
        border:1px solid red;
    }

    #project-cards{
        grid-row:2;

        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
        gap:20px;
    }

    #right-cards{
        grid-column:2;

        display:flex;
        flex-direction:column;
        border:1px solid black;
    }

        #announcements{
            display:flex;
            flex-grow:1;
        }

        #trending{
          display:flex;
          flex-grow:1;
        }

    .side-card{
        border:1px solid green;
    }

.card{
    height:auto;
    border:1px solid blue;
}

.side-card{
    height:auto;
    /* margin:10px; */
}

.trending h3{
    margin-bottom:-20px;
}

#dashboard-container h3{
    grid-row:1;
}

ul{
    list-style:none;
}